<style type="text/css">
    #container {
        width: 100%;
        height: 600px;
        margin: 0;
        padding: 0;
    }

    .anychart-credits {
        display: none;
    }
</style>

<script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>

<div id="container"></div>

<script type="text/javascript">
    var hhTotal = 530
    var hhTotalReplied = 28
    var hhTotalRejected = 135

    var LITotalReplied = 3

    var TotalReplied = LITotalReplied + hhTotalReplied

    var TotalАssignments = 9
    var АssignmentsFinished = 5
    var АssignmentsFinishedWaiting = 1
    var АssignmentsToInterview = TotalАssignments - АssignmentsFinished - АssignmentsFinishedWaiting

    var TotalInterviews = 13
    var TotalInterviewsOffer = 2
    var TotalInterviewsRejected = 5

    var TotalInterviewsWaiting = TotalInterviews - TotalInterviewsOffer - TotalInterviewsRejected +
        АssignmentsToInterview

    var TotalWaiting = TotalReplied - TotalInterviews - TotalАssignments
    var TotalDeclinedOffer = 1
    var AcceptedOffer = 1


    var chartData = [{
            from: 'HH.ru',
            to: 'No Response',
            weight: hhTotal - hhTotalReplied - hhTotalRejected
        },
        {
            from: 'HH.ru',
            to: 'Replied',
            weight: hhTotalReplied
        },
        {
            from: 'LinkedIn',
            to: 'Replied',
            weight: LITotalReplied
        },
        {
            from: 'HH.ru',
            to: 'Rejected',
            weight: hhTotalRejected
        },
        {
            from: 'Replied',
            to: 'Interview',
            weight: TotalInterviews
        },
        {
            from: 'Replied',
            to: null,
            weight: TotalWaiting
        },
        {
            from: 'Replied',
            to: 'Test Assignment',
            weight: TotalАssignments
        },
        {
            from: 'Test Assignment',
            to: 'Аssignment Finished',
            weight: АssignmentsFinished
        },
        {
            from: 'Test Assignment',
            to: null,
            weight: TotalАssignments - АssignmentsFinished
        },
        {
            from: 'Аssignment Finished',
            to: null,
            weight: АssignmentsFinishedWaiting
        },
        {
            from: 'Аssignment Finished',
            to: 'Interview',
            weight: АssignmentsFinished - АssignmentsFinishedWaiting
        },
        {
            from: 'Interview',
            to: 'Rejected',
            weight: TotalInterviewsRejected
        },
        {
            from: 'Interview',
            to: null,
            weight: TotalInterviewsWaiting
        },
        {
            from: 'Interview',
            to: 'Offer',
            weight: TotalInterviewsOffer
        },
        {
            from: 'Offer',
            to: 'Declined',
            weight: TotalDeclinedOffer
        },
        {
            from: 'Offer',
            to: 'Accepted',
            weight: AcceptedOffer
        },
    ];

    anychart.onDocumentReady(function () {
        fetch('/assets/data/job-search-2022.json')
            .then((response) => {
                return response.json()
            }).then((data) => {
                console.log(data)
                var sankey_chart = anychart.sankey(chartData);
                sankey_chart.nodeWidth('20%');
                sankey_chart.title(
                    'Job searching data visualization of a Python Developer in Russia in 2022');
                sankey_chart.nodePadding(20);
                sankey_chart.container('container');

                sankey_chart.dropoff().normal().fill({
                    keys: ["#dd2c00 0.4", "#455a64 0.7"],
                    angle: 180
                });
                sankey_chart.draw();
            })
    });
</script>