<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">

    {% for page in site.pages %}
      {% if page.title %}
      <a class="sidebar-nav-item" href="{{ page.url | relative_url }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.twitter_username }}">Twitter</a> -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
