<div class="portfolio">
  <!-- Post list links -->
  <div class="cards">
    {% for project in site.categories.work %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 0 %}
    <a href="{{ project.url | relative_url }}" class="card" style="background-image: url('{{ project.image }}');">
      {% else %}
      <a href="{{ project.url | relative_url }}" class="card card-right"
        style="background-image: url('{{ project.image }}');">
        {% endif %}
        <div class="inner">
          <h2 class="title">{{ project.title }}</h2>
          <p>{{ project.excerpt | markdownify | strip_html | truncate: 160 }}</p>
          <time class="subtitle">{{ project.date | date: "%B / %Y" }}<time>
        </div>
      </a>
      {% endfor %}

      <!-- {%- for post in paginator.posts -%}

    <li>
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}

      {% assign article = post.content %}
      {% assign lang = post.lang %}
      {%- include functions.html func='get_reading_time' -%}
      {% assign reading_time = return %}
      {%- include functions.html func='get_article_excerpt' -%}
      {% assign excerpt = return %}
      {%- assign post_url = post.url | relative_url -%}

      <h2 class="post-title">
        <a class="post-link" href="{{ post_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
    </li>
    {%- endfor -%} -->
  </div>
</div>