---
---

$custom-sidebar-color: #7e90ad;

@import "lanyon";

ul {
	list-style-type:square;
}

// for videos
iframe {
	height:300px;
	width:100%;
}

// social media icons
.sidebar-item svg {
	margin: 3px;
	width: 18px;
	height: 18px;
	fill: white;
}

.post-meta {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	display: block;
}

.post-list-title, .post-meta{
	// display: inline-block;
}

// protrait photo
#portrait {
	width: 100px;
  border-radius: 50px;
  float: left;
  margin: 10px;
  margin-left: 0;
}

// project tiles
.container .tile {
	font-size: 1em;
	display:inline-block;
	width:31%;
	border-radius:5px;

	// three tiles
	margin:0.5%;

	// Center image
	background-size:cover;
	background-position:center center;
	vertical-align:middle;

	.tile-wrapper {
		margin: 38px;
		padding: 8px;
		border-radius: 8px;

		h3 {
			display: inline-block;

			margin: 0;
			padding: 4px;
			padding-left: 6px;
			padding-right: 6px;

			border-radius: 2px;
			color: $custom-sidebar-color;
			background-color: white;
			font-size: 1em;
		}
		.post-meta {
			display: inline-block;

			padding: 1px;
			padding-left: 4px;
			padding-right: 4px;
			border-radius: 2px;

			font-size: 12px;
			text-transform: uppercase;
			color: white;
			background-color: #313131;
		}
	}
}

@media (max-width: 56em) {
	// two tiles
	.container .tile {
		width:47%;
		margin:1%;
	}
}

@media (max-width: 30em) {
	// one tile
	.container .tile {
		margin-left:0;
		margin-right:0;
		width:100%;
	}
	// full sidebar on mobile
	#sidebar {
		width: 100%;
	}

	.sidebar-toggle {
		display: inline-block;
    position: fixed;
		// toggle on the right side
		left: auto;
		right: 1rem;
	}

}
