---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Default theme colors
$theme-colors: ("coolblack": #090a0b,
  "spacegrey": #353535,
  "snowwhite": #ffffff,
);

// Default brand colors
$brand-colors: ("orangered": #ff5100,
  "greatgold": #f2cb05,
  "greenblue": #389092,
);

$theme-name: "{{ site.theme_color }}";
$brand-name: "{{ site.brand_color }}";
$theme-color: map-get($theme-colors, "snowwhite");
$brand-color: map-get($brand-colors, "orangered");

@if map-has-key($theme-colors, $theme-name) {
  $theme-color: map-get($theme-colors, $theme-name);
} @else if str-index($theme-name, "#") == 1 {
  $theme-color: {{ site.theme_color | default: '#ffffff' }};
}

@if map-has-key($brand-colors, $brand-name) {
  $brand-color: map-get($brand-colors, $brand-name);
} @else if str-index($brand-name, "#") == 1 {
  $brand-color: {{ site.brand_color | default: '#ff5100' }};
}

@import "yat";

// My scss

#portrait {
  width: 120px;
  border-radius: 50px;
  float: left;
  margin: 10px;
  margin-left: 0;
}

.site-favicon {
  border-radius: 10%;
}

.site-nav {
  font-family: $headings-font-family;
}

.post-nav a {
  line-height: 20px;
}

.page-banner {
  .page-banner-inner {
    h1 {
      line-height: 1.1;
      font-size: 80%;
      font-weight: bold;
      font-family: $headings-font-family;
    }

    h2 {
      line-height: 1.1;
      font-weight: bold;
      font-family: $headings-font-family;
    }
  }
}

div.theme-toggle {
  font-family: $headings-font-family;

  .names {
    padding: 4px;
  }
}

@mixin media() {
  @media (min-width: 768px) {
    @content;
  }
}

.cards {
  overflow:hidden;

  .card {
    height: 400px;
    width:100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    margin-bottom: 40px;
    background-image: url('https://mbrav.github.io/images/cover-2.jpg');
    background-size: cover;
    transition: transform 0.6s;
    transition-timing-function: ease-out;

    &:hover {
      transform:scale(1.1);
    }

    @include media {
      height: 500px;
    }

    .inner {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.8);
      border: 4px solid $text-color;
      box-sizing: border-box;
      padding: 20px;

      @include media {
        width: 40%;
        height: 100%;
      }

      .title {
        font-size: 32px;
        font-family: $headings-font-family;
        color: black;
        text-align: center;
        font-weight: 700;
        color: #181818;
        position: relative;
        margin: 0 0 20px 0;

        @include media {
          font-size: 30px;
        }
      }

      .subtitle {
        color: $grey-color;
        text-align: center;
      }
    }
  }

  .card-right {
    flex-flow: column wrap;
  }
}


.contact-icons {
  padding: 4px;

  a {
    margin-left: 6px;
    i {
      font-size: 42px;
    }
  }
}

.site-footer-inner {
  width: 100%;
  overflow-x: auto;

  .footer-col {
    display: inline-block;
    width: 49%;
    height: 100%;
  }
}

