---
---

$custom-sidebar-color: #7e90ad;

@import "lanyon";

ul {
	list-style-type:square;
}
iframe {
	height:300px;
	width:100%;
}
.post-meta {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#portrait {
	width: 100px;
  border-radius: 50px;
  float: left;
  margin: 10px;
  margin-left: 0;
}

.container .tile {
	display:inline-block;
	margin:0.5%;
	padding:20px;
	width:31%;
	border-radius:5px;

	// Center image
	background-size:cover;
	background-position:center center;
	vertical-align:middle;
}
@media (max-width: 56em) {
	.container .tile {
		width:47%;
		margin:1%;
	}
}
@media (max-width: 32em) {
	.container .tile {
		margin-left:0;
		margin-right:0;
		width:100%;
	}
}
