---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

// configuration variables
$base-font-family: 'Inconsolata', monospace;
$header-font-family: 'Roboto Slab', serif;

$text-color: #444;
$header-color: #444;
$link-color: #444;

body {
  padding: 20px;
  font-family: $base-font-family;
  color: $text-color;
  background-color: #fcfcfc;

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    color: $header-color;
  }

  a {
    color: $link-color;
    text-decoration: none;
    border-bottom: 2px solid $link-color;
    padding-bottom: 1px;
  }
}

nav {
  float: left;
  /* for the gap between nav and main*/
  margin-right: 20px;
  font-size: 110%;

  a {
    border-bottom: 0; // cancel out border link
  }

  .site-title {
    margin-top: 0;
    a {
      color: $header-color;
      display: block;
      margin: 0;
      margin-bottom: 10px;
      border-radius: 2px;
      text-decoration: none;
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;
    line-height: 1.5em;
    letter-spacing: 0.08em;
  }
}

main {
  overflow: hidden; /*life saver, worth dedicating */
  max-width: 680px;

  .post-title {
    margin-top: 0;
  }

  // stretch the content
  p {
    letter-spacing: -.02em;
    line-height: 1.4em;
    img {
      height: auto;
      width: auto;
      max-width: 100%;
    }
  }

  iframe {
    height: 300px;
    width: 100%;
  }

  .post-content ul li {
    list-style-type: square;
    line-height: 1.26em;
  }


  // for the portrait in introduction page
  #portrait {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin: 10px;
    margin-left: 0;
  }
}

/*PROJECT TILE PAGE SETTINGS*/

.container {

  .tile {
    margin-left: 14px;
    width: 200px;
    display: inline-block;

    img {
      width: 100%;
    }
  }
}
