---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

	<h1 class="page-heading">Studies</h1>

	<ul class="post-list">
		{% for post in site.categories['study'] %}
		<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			</h2>
		</li>
		{% endfor %}
	</ul>

	<h1 class="page-heading">Essays</h1>

	<ul class="post-list">
		{% for post in site.categories['essay'] %}
		<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			</h2>
		</li>
		{% endfor %}
	</ul>

	<h1 class="page-heading">Manifestos</h1>

	<ul class="post-list">
		{% for post in site.categories['manifesto'] %}
		<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			</h2>
		</li>
		{% endfor %}
	</ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
